.git
.gitignore

node_modules/
**/node_modules/
.turbo/
**/.turbo/
.next/
**/.next/
dist/
**/dist/
coverage/
**/coverage/

.env
.env.local
.env.prod
*.tsbuildinfo
**/*.tsbuildinfo
next-env.d.ts

db-prod-data/
db-data/
.DS_Store

docs/
